* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: Inter, sans-serif;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.card {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 22px;
  width: 340px;
  text-align: center;
  box-shadow: 0 30px 60px rgba(0,0,0,0.45);
}

h1 {
  margin: 0;
  font-weight: 600;
}

.subtitle {
  opacity: 0.8;
  font-size: 14px;
  margin-bottom: 25px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
}

button {
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 12px;
  background: #00bfff;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;
}

button:hover {
  background: #009acd;
}

.hidden {
  display: none;
}

#loader {
  margin-top: 20px;
  opacity: 0.8;
}

#result {
  margin-top: 25px;
  text-align: left;
  font-size: 14px;
  line-height: 1.6;
}

